
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-1"> Menu Inicial</h1>
    <p><a asp-controller="MenuInicial" asp-action="pesquisarReceita" class="btn btn-dark">Pesquisar receita</a></p>
    <p><a asp-controller="MenuInicial" asp-action="adicionarReceita" class="btn btn-dark">Adicionar receita</a></p>
    <p><a asp-controller="MenuInicial" asp-action="verFavoritos" class="btn btn-dark">Favoritos</a></p>
    <p><a asp-controller="MenuInicial" asp-action="EditarPerfil" class="btn btn-dark">Editar perfil</a></p>
</div>
