    <div class="text-center">
        <h1 class="display-1">Bem vindo!</h1>
        <p><a asp-controller="UtilizadorView" asp-action="RegisterUser" class="text-body h4">Registar</a></p>
        <p><a asp-controller="UtilizadorView" asp-action="UserLogin" class="text-body h4">Login</a></p>
    </div>

